{% if object.forum.supplementalmaterial_set.all.count > 0 %}
<h2>Supplemental Materials</h2>
<ul>{% for material in object.forum.supplementalmaterial_set.all %}
    <li>
        <a href="{{material.material_file.url}}">{{material.name}}</a> 
        - by <a href="{% url 'support:user' material.author.id %}">{{material.author.username}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% if user.userprofile.group == "Moderator" %}
<a href="{% url 'support:upload_supplemental_material' object.id %}">Upload Supplemental Materials</a>
{% endif %}

{% if error_message %}<p><strong>{{error_message}}</strong></p>{% endif %}
<h2>Questions about {{object.name}}</h2>
<ul>
    {% for question in questions %}
    <li>
        <a name="question_{{question.id}}"></a>
        <div class="vote">
            {% if user.is_authenticated %}
            <a href="{% url 'support:up_vote_question' question.id %}?next={% url page object.id %}">&#x25B2;</a>
            {% endif %}
            <span>{{question.vote_count}} vote{{ question.vote_count|pluralize }}</span>
            {% if user.is_authenticated %}
            <a href="{% url 'support:down_vote_question' question.id %}?next={% url page object.id %}">&#x25BC;</a>
            {% endif %}

            {% if question.author.id == user.id %}
            <a href="" class="edit" id="questionedit_{{question.id}}">edit</a>
            {% endif %}
            {% if user.userprofile.group == "Moderator" or user.userprofile.group == "Contributor" %}
            <a href="" class="flag" data-url="{% url 'support:flag_question' question.id%}?next={% url page object.id %}">flag</a>
            {% endif %}
        </div>
        <div>
            <span>{{question.question_html|safe}}</span>
            <form action="{% url 'support:edit_question' question.id%}?next={% url page object.id %}" method="post" id="editquestion_{{question.id}}" class="hidden">
                {% csrf_token %}
                <label>your question:</label><textarea name="question">{{question.question_text}}</textarea>
                <input type="submit" value="Submit"/><button type="button">Cancel</button>
            </form>
            <span class="author">asked by <a href="{% url 'support:user' question.author.id %}">{{question.author.username}}</a></span>
            <h3>{{question.answer_set.all.count}} Answer{{question.answer_set.all.count|pluralize}} </h3>
        </div>
        <ul>
            {% for answer in question.sorted_answers %}
            <li>
                <a name="answer_{{answer.id}}"></a>
                <div class="vote">
                    {% if user.is_authenticated %}
                    <a href="{% url 'support:up_vote_answer' answer.id %}?next={% url page object.id %}">&#x25B2;</a>
                    {% endif %}
                    <span>{{answer.vote_count}} vote{{ answer.vote_count|pluralize }}</span>
                    {% if user.is_authenticated %}
                    <a href="{% url 'support:down_vote_answer' answer.id %}?next={% url page object.id %}">&#x25BC;</a>
                    {% endif %}
                    
                    {% if answer.author.id == user.id %}
                    <a href="" class="edit" id="answeredit_{{answer.id}}">edit</a>
                    {% endif %}
                    {% if user.userprofile.group == "Moderator" or user.userprofile.group == "Contributor" %}
                    <a href="" class="flag" data-url="{% url 'support:flag_answer' answer.id%}?next={% url page object.id %}">flag</a>
                    {% endif %}
                </div>
                <div>
                    <span>{{answer.answer_html|safe}}</span>
                    <form action="{% url 'support:edit_answer' answer.id%}?next={% url page object.id %}" method="post" id="editanswer_{{answer.id}}" class="hidden">
                        {% csrf_token %}
                        <label>your answer:</label><textarea name="answer">{{answer.answer_text}}</textarea>
                        <input type="submit" value="Submit"/><button type="button">Cancel</button>
                    </form>
                    <span class="author">answered by <a href="{% url 'support:user' answer.author.id %}">{{answer.author.username}}</a></span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        <form action="{% url 'support:answer' %}?next={% url page object.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="question" value="{{question.id}}"/>
            <label for="id_answer">your answer:</label>
            <textarea name="answer" id="id_answer"></textarea>
            <input type="submit" value="Submit"/>
        </form> 
        {% else %}
            <a href="{% url 'support:login' %}?next={% url page object.id %}">Log in</a> or
            <a href="{% url 'support:sign_up' %}?next={% url page object.id %}">Sign up</a> to answer this question
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% if user.is_authenticated %}
    <form action="{% url 'support:ask' %}?next={% url page object.id %}" method="post">
    {% csrf_token %}
        <label for="id_question">your question:</label>
        <textarea id="id_question" name="question"></textarea>
        <label for="id_forum"> Is this a question about:</label>
        <select id="id_forum" name="forum">
            <option value="{{object.forum.id}}">{{object.name}} in general</option>
            {% for lessonTopic in object.lessontopic_set.all %}
            <option value="{{lessonTopic.forum.id}}">{{lessonTopic.lesson.name}} {{lessonTopic.topic.topic.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Ask"/>
    </form> 
{% else %}
    <a href="{% url 'support:login' %}?next={% url page object.id %}">Log in</a> or
    <a href="{% url 'support:sign_up' %}?next={% url page object.id %}">Sign up</a> to ask a question
{% endif%}

<div class="hidden" id="flag_alert">Are you sure you want to flag this? <a href="" class="yes">Yes</a> <a href="" class="no">No</a></div>