{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'support/css/grade.css' %}">
{% endblock %}

{% block content %}

<h1>{{grade.name}}</h1>
{{grade.intro_html|safe}}
<ul>{% for unit in grade.unit_set.all %}
	<li><h3>{{unit.name}}</h3> 
		<ul>
		{% for lesson in unit.lesson_set.all %}
			<li><a href="{% url 'support:lesson' lesson.id %}"> {{lesson.name}}</a></li>
		{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>

{% endblock %}