{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'support/css/forum.css' %}">
{% endblock %}
{% block content %}

<h1>{{lesson.name}}</h1>
{{lesson.intro_html|safe}}
{% for lessonTopic in lesson.lessontopic_set.all %}
{{lessonTopic.intro_html|safe}}
{% endfor %}

{% if lesson.supplementalmaterial_set.all.count > 0 %}
<h2>Supplemental Materials</h2>
<ul>{% for material in lesson.supplementalmaterial_set.all %}
	<li>
		<a href="{{material.material_file.url}}">{{material.name}}</a> 
		- by <a href="{% url 'support:user' material.author.id %}">{{material.author.username}}</a>
	</li>
	{% endfor %}
</ul>
{% endif %}
{% if user_is_moderator %}
<a href="{% url 'support:upload_supplemental_material' lesson.id %}">Upload Supplemental Materials</a>
{% endif %}

{% include "support/forum.html" with page='support:lesson' object=lesson  questions=lesson.sorted_questions %}

{% endblock %}