{% extends "base.html" %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'support/css/forum.css' %}">
{% endblock %}
{% block script %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{% static 'support/js/forum.js' %}"></script>
{% endblock %}
{% block content %}

<h1>{{lesson.name}}</h1>
{{lesson.intro_html|safe}}
{% for lessonTopic in lesson.lessontopic_set.all %}
{{lessonTopic.intro_html|safe}}
{% endfor %}

{% include "support/forum.html" with page='support:lesson' object=lesson  questions=lesson.sorted_questions %}

{% endblock %}