body {
    font: 15px Helvetica, Arial, sans-serif;
    margin:0px;

    background-color: #def4fa;
}
header {
    background-color: #05a9d3;
    position: relative;
}
header>a{
    display:block;
    float:left;
    padding: 0.5% 1%;
    margin:0 1%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width:12%;
    background-color: #fafdfe;
    text-align: center;

}

header>a:hover{
    background-color: #fff;
}
a {
    color:#0969BF;
    text-decoration: none;
}
a:visited{
    color:#0969BF;
}
main {
    width:90%;
    max-width: 850px;
    margin:5px auto;
    text-align: left;
}
header h1{
    text-align: center;
    clear:both;
    padding:10px 1% 20px 1%;
    font-size: 1.7em;
    color:#fff;
    background:transparent;
    margin-bottom: 0px;
}
h1, h2, h3 {
    margin:.5em 0;
    padding-left:2px;
    color:#003D4B;
    background: linear-gradient(to right, rgba(153,220,237,1) 0%,rgba(222,244,250,0) 25%,rgba(199,243,253,0) 100%);
    border-radius: 2px;
}
header span#user {
    position:absolute;
    bottom:3px;
    right:.5%;
}
main p {
    line-height: 1.3em;
}

@media only screen and (max-width: 480px) {
    header>a{
        width:16%;
        font-size: .8em;
    }
}

label {
    display:block;
    float:left;
    clear:left;
    width:21.5%;
    margin:2%;
    text-align: right;
    min-width: 96px;
}

input[type=text],input[type=password],input[type=email],input[type=search] {
    display:block;
    float:left;
    width:35%;
    padding:1% 5px;
    margin:1%;
    border-radius: 10px;
    border-width: 1px;
    border-color:#ccc;
}

select {
    display:block;
    float:left;
    width:50%;
    margin:2% 1%;
    height:2em;
}

textarea {
    display:block;
    float:left;
    width:50%;
    padding:1% 5px;
    margin:1%;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1em;
    border-color:#ccc;
}
input[type=submit]{
    display:block;
    clear:left;
    margin:2%;
    margin-left:27%;
    width:25%;
    cursor:pointer;
}


form span {
    display:block;
    clear:left;
    margin:0 0 3% 27%;
    font-style: italic;
    color:#666;
    font-size:.9em;

}

form table {
    width:100%;
}

header input[type=search] {
    display:block;
    float:right;
    clear:right;
    width:15%;
    padding:.5% 3px;
    margin:.5%;
}