ul {
    padding-left:0px;
}
ul ul, ul.lessons ul ul{
    padding-left:13%;
}
ul.lessons ul{
    padding-left:0%;
}
ul li {
    display:block;
    list-style-type: none;
    background-color: #fafdfe;
    clear:left;
    padding:1%;
    margin:2% 0;
    border-radius:4px;
    box-shadow: 0 3px 10px -5px #99dced;
}
ul li div.vote {
    width:13%;
    float:left;
    margin-left:0;
}
ul li div {
    margin-left:13%;
}
ul li div a{
    display:block;
    text-decoration: none;
}
ul li div span{
    font-size: 1em;
}
ul li ul li {
    background-color:#fff;
}

ul li span {
    color:#333;
    font-style: italic;
}
ul li div p:first-child {
    margin-top:0;
}
ul li div ul li {
    list-style-type: circle;
    background:transparent;
    display: list-item;
    box-shadow: none;

}
#id_models {
    float:left;
    width:70%;
}
#id_models li {
    display:inline;
    background-color: transparent;
    border-radius:none;
    box-shadow:none;
}
#id_models li label {
    display: inline;
    float:none;
    clear:none;
}
@media only screen and (max-width: 480px) {
    ul li div span{
        font-size: .7em;
    }
}