section {
    display:block;
    background-color: #fafdfe;
    clear:left;
    padding:1%;
    margin:2% 0;
    border-radius:4px;
    box-shadow: 0 3px 10px -5px #99dced;
}
ul li div.vote {
    width:4%;
    float:left;
    margin-left:0;
    text-align: center;
    line-height: .9em;
}
ul li div.post {
    margin-left:4%;
    padding:10px 0;
}
ul li div.vote a{
    display:block;
    text-decoration: none;
    font-size:.7em;
}
ul li div.vote span{
    font-size: 1em;
}

ul li div.vote span.not_auth{
    display:block;
    margin-top:13px;
}
ul {
    list-style-type: none;
    padding:0;
    zoom:1; /* For IE 6/7 */
}
ul li {
    background-color:#fff;
    padding:0 1% 0 0;
    border: 1px solid #def4fa;
    clear:left;
    margin:3px 0;
    border-radius:4px;
    box-shadow: 0 3px 10px -5px #99dced;
}

ul li.question {
    background-color: #f9f7ff;
}

ul li a.author {
    display:inline;
}

ul li div p:first-of-type {
    margin-top:0;
    display:inline;
}

#id_models {
    float:left;
    width:70%;
}
#id_models li {
    display:inline;
    background-color: transparent;
    border-radius:none;
    box-shadow:none;
}
#id_models li label {
    display: inline;
    float:none;
    clear:none;
}
@media only screen and (max-width: 480px) {
    ul li div span{
        font-size: .7em;
    }
}

#flag_alert {
    width:20%;
    background-color: #fff;
    border-radius:4px;
    box-shadow: 0 3px 15px -5px #99dced;
    position: absolute;
    padding:2%;
    line-height: 2em;
}
#flag_alert a {
    padding:0 30% 0 0;
}