<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>Heritage Chinese Center - Teacher Support</title>
    <link rel="stylesheet" type="text/css" href="{% static 'support/css/base.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    {% block style %}{% endblock %}
</head>

<body>
    <header>
        <a href="">order</a>
        <a href="">homework</a>
        <a href="{% url 'support:index' %}">support</a>
        <form action="{% url 'support:haystack_search' %}?models=support.answer&models=support.lesson&models=support.question" method="get">
            <input type="search" name="q" placeholder="search">
            <input type="hidden" name="models" value="support.answer">
            <input type="hidden" name="models" value="support.question">
            <input type="hidden" name="models" value="support.lesson">
        </form>
        <h1>Heritage Chinese Center Teacher Support</h1>
        <span id="user">
        {% if user.is_authenticated %}
            Hello, {{user.username}} <a href="{% url 'support:logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'support:login' %}">Log in</a> or
            <a href="{% url 'support:sign_up' %}">Sign up</a>
        {% endif%}
        </span>
    </header>
    <main>
	   {% block content %}{% endblock %}
    </main>
</body>
</html>